@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    height: 50vh;
    width: 100vw;
    background-image: url(img/pexels-israwmx-21782637.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    
}

.header > .filhoheaderlogo{
    width: 30%;
    height: 100%;
}

.header > .filhoheaderlogo > img{
    margin-top: 170px;
    margin-left: 20px;
}

.filhoheadercont{
    width: 70%;
    height: 100%;
    background-color: #ed721a88;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.filhoheadercont > h1{
    color: #71BFA3;
}
