@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(211, 211, 211);
}

div.conteiner{
    text-align: center;
}

div.conteiner2{
    display: flex;
}

div.sim{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: black;
    border-radius: 20px;
    width: 250px;
    height: 100px;
    margin: 50px;
    transition: .3s;
}

div.sim:hover{
    background-color: white;
    color: green;
    cursor: pointer;
    border: 2px solid black;
    transition: .3s;
}

a{
    text-decoration: none;
}

div#nao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 20px;
    width: 250px;
    height: 100px;
    margin: 50px;
    transition: .3s;
}

div#nao:hover{
    background-color: white;
    color: red;
    cursor: pointer;
    border: 2px solid black;
    transition: .3s;
}