@charset "UTF-8";
/*geral*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*fim geral*/

/*começo da parte estilizada de onde colocar os números*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 500px;
    height: 430px;
    border-radius: 20px 20px 100px 20px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
}
main > header{
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

main > header > div.info{
    background-color: lightgrey;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main > header > div.info > div.ajuste >p{
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 1.2em;
}

main > header > div.info > div.ajuste >input{
    width: 100px;
    height: 50px;
    border-color: lightgray;
    border-radius: 8px;
    text-align: center;
    font-size: 1.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}

main > header > div.info > img{
    transition: .5s;
}

main > header > div.info > img:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.5s;
}

/* fim da parte estilizada do cabeçalho para colocar os numeros*/


/*começo da estilização do resultado*/

main > h1{
    font-family: cursive;
    padding: 20px 10px 35px 20px;
}

main > h1 > mark{
    font-size: 1.2em;
    background-color: transparent;
    color:#894BF7 ;
}
